site_name: gmx_MMPBSA
nav:
    - 'index.md'
    - 'introduction.md'
    - 'summary.md'
    - 'versus.md'
    - 'installation.md'
    - 'command-line.md'
    - 'input_file.md'
    - 'output.md'
    - 'advanced.md'
    - 'api.md'
    - 'about.md'
theme: readthedocs

markdown_extensions:
  - admonition
  - footnotes

copyright: MS. and ME Valdes Tresanco, 2020-2021. This work is licensed under GPLv3.

plugins:
  - jemoji
