.wy-nav-content {
    max-width: 980px;
}

.wy-nav-side {
    color: #55a5d9;
    background: #262c31;
}

body {
    font-family: "Lato",BlinkMacSystemFont,"Segoe UI",Helvetica,sans-serif;
    font-size: 14px;
}

th, td {
    padding: 6px 13px;
}

tr:nth-child(2n) {
    background-color: #f6f8fa;
}